In [1]:
import pandas as pd
import numpy as np
pd.set_option('precision', 6)
np.set_printoptions(precision=6)

#### Task 1.

You are given a list of numbers. Find maximum difference between any two numbers in the list,with the condition that the smaller number must appear on the right from the greater number (i.e.have greater index in the list)

Sample input: $[2,6,3,5,1,7]$

Sample output: $5$

In [2]:
l = [2,6,3,5,1,7]
maxDiff, maxVal = l[0], l[0] 
for i in l:
    if i >= maxVal:
        maxVal = i
    if maxVal - i > maxDiff:
        maxDiff = maxVal - i
print(maxDiff)

5

#### Task 2.
Fred is a very predictable man. For instance, when he uses his laptop, all he does is watch TV shows. He keeps on watching TV shows until his battery dies. Also, he is a very meticulous man, i.e. he pays great attention to minute details. He has been keeping logs of every time he charged his laptop, which includes how long he charged his laptop for and after that how long was he able to watch the TV. Now, Fred wants to use this log to predict how long will he be able to watch TV for when he starts so that he can plan his activities after watching his TV shows accordingly. You are given access to Fred’s laptop charging log by reading from the file “trainingdata.txt”. The
training data file will consist of 100 lines, each with 2 comma-separated numbers.

1. The first number denotes the amount of time the laptop was charged.
2. The second number denotes the amount of time the battery lasted.

The training data file can be found in Fred.txt file (this will be the same training data used
when your program is run). The input for each of the test cases will consist of exactly 1 number
rounded to 2 decimal places. For each input, output 1 number: the amount of time you predict his
battery will last.

Sample Input : $1.50$

Sample Output: $3.00$

In [3]:
input_ = 1.5
if input_ >= 4.0:
    print (8.0)
else:
    print (round(2*input_, 1))

3.0

#### Task 3.

The money flow index (MFI) is a momentum indicator that measures the inflow and outflow of
money into and out of a security over a specific period of time. It is computed as given below, and
can assume values between 0 and 100.

* Money Flow Index = 100 x Money Ratio ⁄ (1 + Money Ratio)
* Money Ratio = Positive Money Flow Sum ⁄ Negative Money Flow Sum
* Money Flow = Typical Price × Volume
* Typical Price = (High Price + Low Price + Close Price) ⁄ 3

The concepts of Positive and Negative Money Flow are defined as follows: on any given day, the
Money Flow is denoted positive / negative if the Typical Price is higher / lower than the previous
day's typical price. If the Typical Price is unchanged then that day's data are discarded. The Positive
Money Flow Sum is the sum of all the Positive Money Flow over a sliding window of n days. The
Negative Money Flow Sum is the sum of all the Negative Money Flow over a sliding window of
n days.Given the stock price data consisting of open, close, volume, low, and high price, calculate the
Money Flow Index for each day over a sliding window of n days (n will be given). The first Money
Flow Index value is calculated for the (n + 1)th day.

**Function Description** Create the moneyFlowIndex function. The function must create a file money_flow_index_\[n\].csv containing the headers: Day, Open, High, Low, Close,Volume, Typical Price, Positive Money Flow, Negative Money Flow, Positive Money Flow Sum,Negative Money Flow Sum, and Money Flow Index as described in the examples above. The money flow index should be calculated over a sliding window of n days, inclusive of the day for which it is calculated. No return value is expected.

moneyFlowIndex has two parameters: filename: a string describing the name of the input CSV file containing the headers: Day, Open, High, Low, Close, and Volume n: an integer

Evaluation The output file must meet the following conditions:

* The output CSV file must contain the headers in the given order: Day, Open, High, Low, Close, Volume, Typical Price, Positive Money Flow, Negative Money Flow, Positive Money Flow Sum, Negative Money Flow Sum, and Money Flow Index.
* The Day, Open, High, Low, Close, and Volume must exactly match with the values given in the input CSV file.
* The computed values of Typical Price, Positive Money Flow, Negative Money Flow,Positive Money Flow Sum, NegativeMoney Flow Sum, and Money Flow Index value should not deviate from the correct values by more than 10-6.

The values of n provided will always be such that it is possible to calculate the money flow index
over n days.

In [4]:
def moneyFlowIndex(csv_path, period):
    df = pd.read_csv(csv_path)
    df["Typical price"] = (df["High"] + df["Low"] + df["Close"]) / 3
    df["Typical price diff"] = df["Typical price"] - df["Typical price"].shift(1)
    df["Money flow"] = df["Typical price"] * df["Volume"]
    df["Positive money flow"] = np.where(df["Typical price diff"] > 0.0, 1.0, 0)
    df["Negative money flow"] = np.where(df["Typical price diff"] < 0.0, -1.0, 0)
    df["Positive money flow"] = df["Positive money flow"] * df["Money flow"]
    df["Negative money flow"] = abs(df["Negative money flow"] * df["Money flow"])
    df["Positive money flow sum"] = df["Positive money flow"].rolling(window = period).sum()
    df["Negative money flow sum"] = df["Negative money flow"].rolling(window = period).sum()
    df["Money ratio"] = df["Positive money flow sum"] / df["Negative money flow sum"]
    df["Money flow index"] = 100 * df["Money ratio"] / (1 + df["Money ratio"])
    df = df.drop(["Typical price diff", "Money flow", "Money ratio"], axis = 1)
    df.to_csv("sample_output_"+str(period)+".csv")
    display(df)

In [5]:
csv_path = "./sample.csv"
period = 10
moneyFlowIndex(csv_path, period)

,Day,Open,High,Low,Close,Volume,Typical price,Positive money flow,Negative money flow,Positive money flow sum,Negative money flow sum,Money flow index
0,1,47.04,48.24,47.04,48.15,3509,47.810000,0.000000,0.000000,NaN,NaN,NaN
1,2,48.17,48.89,47.97,48.36,4862,48.406667,235353.213333,0.000000,NaN,NaN,NaN
2,3,48.55,49.71,48.52,49.55,1810,49.260000,89160.600000,0.000000,NaN,NaN,NaN
3,4,49.55,49.87,48.51,49.41,3824,49.263333,188382.986667,0.000000,NaN,NaN,NaN
4,5,49.41,49.96,45.84,46.36,2209,47.386667,0.000000,104677.146667,NaN,NaN,NaN
5,6,46.35,46.51,44.61,45.60,4558,45.573333,0.000000,207723.253333,NaN,NaN,NaN
6,7,45.54,45.54,43.63,44.02,3832,44.396667,0.000000,170128.026667,NaN,NaN,NaN
7,8,44.05,44.49,43.19,43.57,3778,43.750000,0.000000,165287.500000,NaN,NaN,NaN
8,9,43.63,45.29,43.63,45.00,1005,44.640000,44863.200000,0.000000,NaN,NaN,NaN
9,10,44.96,44.96,42.88,43.44,4047,43.760000,0.000000,177096.720000,557760.000000,8.249126e+05,40.339266
10,11,43.44,45.01,43.24,44.90,2201,44.383333,97687.716667,0.000000,655447.716667,8.249126e+05,44.276227
11,12,44.90,45.53,44.76,45.18,2507,45.156667,113207.763333,0.000000,533302.266667,8.249126e+05,39.264940
12,13,45.13,45.13,43.78,44.39,4392,44.433333,0.000000,195151.200000,444141.666667,1.020064e+06,30.333287
13,14,44.09,44.24,42.70,42.95,3497,43.296667,0.000000,151408.443333,255758.680000,1.171472e+06,17.919922
14,15,43.09,43.57,42.56,43.08,1181,43.070000,0.000000,50865.670000,255758.680000,1.117661e+06,18.622037
15,16,42.94,43.90,42.25,42.52,1971,42.890000,0.000000,84536.190000,255758.680000,9.944737e+05,20.456891
16,17,42.64,44.08,42.62,43.99,4994,43.563333,217555.286667,0.000000,473313.966667,8.243457e+05,36.474429
17,18,43.99,45.32,43.90,45.23,2017,44.816667,90395.216667,0.000000,563709.183333,6.590582e+05,46.101097
18,19,45.23,45.62,44.37,44.82,2823,44.936667,126856.210000,0.000000,645702.193333,6.590582e+05,49.488181
19,20,44.83,45.73,44.03,45.63,2774,45.130000,125190.620000,0.000000,770892.813333,4.819615e+05,61.530922

#### Bonus task
You are given an array in which all values appear exactly twice, except one value that appears
odd number of times. Order of values is arbitrary. Find that value, but with following constrains:

* You may loop through the array only once.
* You may not use variables of complex type (e.g. lists, sets, etc.), but only one variable which stores a single value (e.g. bool, int, float, char).

Sample input : $[3,5,1,19,5,3,3,2,2,1,19]$

Sample output : $3$

In [6]:
l = [3,5,1,19,5,3,3,2,2,1,19]
temp = l[0]
for i in l[1:]:
    temp = temp ^ i
print (temp)

3